@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}


body {
	background: #1f1c25;
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

h3 {
	opacity: 0.6;
	font-size: 15px;
	text-transform: uppercase;
}

h4 {
	opacity: 0.6;
	font-size: 15px;
}

.text-3 span{
    color:  #1cbbb4;
    font-weight: 500;
}

h6 {
	font-size: 18px;
	margin-top: 6px;
	margin-bottom: 20px;
}

#countdown {
    font-size:28px;
    color:#1cbbb4;
    margin: 15px;
  }
  
.course-preview {

	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
	background-color:#1cbbb4;
	color: #fff;
	position: relative;
	padding: 20px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 15px;
	margin-top: 15px;
	text-decoration: none;
}

.course-info {
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
	background-color:#fff;
	position: relative;
	padding: 20px;
	
}

.course-info h2{
	margin: 0%;
	font-size: 20px;
}
.course-info p{
	margin: 0%;
	font-size: 15px;
}

.btn {
	background-color: #1cbbb4;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 12px;
	padding: 12px 20px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	letter-spacing: 1px;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #1cbbb4;
	border: 1px solid #1cbbb4;
	box-shadow: 0 16px 22px -17px #1cbbb4;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #1cbbb4;
}

.floating-btn:focus {
	outline: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}
/* footer section styling */
footer{
    background: #1b1920;
    width: 100%;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}
footer span a{
    color:  #1cbbb4;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
